.home-container {
	width: inherit;
	height: inherit;
	background-image: url("https://images.unsplash.com/photo-1566519321771-8d69a1c8364a?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=60");
 	background-position: bottom center;
}

.title-container {
	position: absolute;
	margin-left: 1rem;
	margin-top: 1rem;
}

.home-title {
	font-family: Stencil Std, fantasy;
	font-style: italic;
	font-size: 40px;
	color: white;
	text-shadow: 5px 5px 10px #000000;
}

.server-container {
	position: absolute;
	display: inline-flex;
	left: calc(50vw - 10rem);
	top: calc(50vh - 8rem);
}

.server-card {
	width: 20rem;
	height: 16rem;
	margin: 1rem;
	background-color: grey;
}